.cook-select {
  width: 200px;
  height: 30px;
  border: thin solid gray;
  margin-right: 40px;
}

.cook-input {
  width: 150px;
  height: 30px;
}

.alert {
  color: red;
}

.hide {
  visibility: hidden;
}
